*{
    margin: 0;
    padding:0;
}

.cabecalho{
    padding: 15px 25px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: rgb(145, 215, 255);
}

.cartao{
     width: 260px;
     height: 200px;
}

.cartao-imagem{
    width: 100%;
}

body {
     display: flex
     flex-diretion: column;
     min-width: 100vh;
}

main {
    flex: 1;

}
.Cabecalho-link {
    color: aqua;
}
h1  {
    color: #78cce0;
}